body {
    background-image: url("https://shorturl.at/jpsCG");
    overflow-x: hidden
}

.map-list {
    font-family: "VALORANT", sans-serif;
    font-weight: bold;
    color: white;
    text-align: left;
}

.list-group {
    width: 20%;
}

.list-group-item {
    font-family: "Courier New", sans-serif;
    font-size: large;
    font-weight: bold;
}

.\.container {
    margin-left: 9%;
    width: 80%;
    text-align: center;
}

.card {
    height: 450px;
    width: 450px;
    transition: all 0.3s;
}

.card:hover {
    transform: scale(1.15);
}

.display-2 {
    font-family: "VALORANT", sans-serif;
    color: white;
}






