body {
    background-image: url("https://shorturl.at/jpsCG");
    text-align: center;
    overflow-x: hidden;
}

.heading-utils {
    font-family: "VALORANT", sans-serif;
    font-size: xxx-large;
    color: white;
}

p {
    color: white;
    font-family: "Courier New", sans-serif;
    font-size: medium;
}

.p-biography {
    color: white;
    font-family: "Courier New", sans-serif;
    font-size: x-large;
}

.agent-page-img {
    height: 650px;
    width: 530px;
}

.agent-info {
    font-family: "Courier New", sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

table, td, th {
    border: 2px solid white;
    background-color: #53212B;
    font-size: x-large;
    color: white;
    max-width: 100%;
}

th {
    font-family: "VALORANT", sans-serif;
}

.abilities {
    font-family: DINfun Pro Inktrap, sans-serif;
    color: rgb(15, 25, 35);
    font-size: x-large;
    padding-right: 6%;
}

button {
    font-size: x-large;
    background-color: #BD3944;
    cursor: pointer;
}

.btn-utils {
    font-family: "VALORANT", sans-serif;
    color: white;
}